{% extends "base.html" %}
{% block content %}
    <main class="d-flex align-items-center justify-content-center">
        <div class="container ">
            <ul class="list-group">
  <li class="list-group-item">Biodata</li>
  <li class="list-group-item">Nama : {{isi.nama}}</li>
  <li class="list-group-item">tempat_lahir : {{isi.tempat_lahir}}</li>
  <li class="list-group-item">tanggal_lahir : {{isi.tanggal_lahir}}</li>
  <li class="list-group-item">jenis_kelamin : {{isi.jenis_kelamin}}</li>
  <li class="list-group-item">alamat : {{isi.alamat}}</li>
  <li class="list-group-item">profesi : {{isi.profesi}}</li>
  <li class="list-group-item"><img src="../static/images/1.jpeg" alt=""></li>
</ul>
        </div>
    </main>
{% endblock %}






